[Unit]
Description=Internet sharing script
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/ishare.sh start
ExecStop=/usr/bin/ishare.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
